* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    padding-left: 20px;
    
}

h2 {
  padding: 10px;
}
/* Start Menu Area */
div.outside {
  width: 600px;
  height: 600px;
  background: #b3b3b3;
}

ul {
  background-color: #e6e6e6;
  padding-top: 10px;
}

ul li {
  margin: 0;
  padding: 0;  
  display: inline;
}

.first, .second, .third, .fourth {
  padding-left: 10px;
  padding-right: 10px;
}

.headLines {
  text-align: center;
  padding-top: 100px;
}

/* End Menu Area */

.topline {
  text-align: center;
  padding: 5px;
  margin: 0px;
}

.centerText {
  margin-top: 60px;
  text-align: center;
}

.slideArea {
  position: relative;
  width: auto;
  height: 300px;
}

.farmPicture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 300px;
    text-align: center;
    padding-top: 146px;
    background: #8c8c8c;
}

.buttonArea {
  text-align: center;
}

#scrollLeft, #scrollRight {
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 8px;
}

/* FAC config area */
div.facBox {
  border-style: solid;
  border-width: 1px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  height: 90%;
  text-align: center;
  padding-top: 10px;
}

/* All site links configs */
a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/* login box config area */
div.loginBox {
  border-style: solid;
  border-width: 1px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  height: 50%;
  text-align: center;
  padding-top: 10px;
}

#loginButton {
  width: 40%;
  border-style: solid;
  border-width: 2px;
  margin-top: 30px;
  margin-bottom: 0
}

span.psw {
    float: right;
    padding-top: 16px;
}
